@charset "utf-8";
/* CSS Document */
/*步骤*/
.payment {
    width: 1000px;
    margin: 0 auto;
}
.progress-bar {
    margin: 30px 0;
	padding:15px;
	background:#fafafa;
    text-align: center;
}
.payment-real .progress-bar div {
    width: 190px;
}
.progress-bar div {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.progress-bar dt {
    position: relative;
    color: #fff;
}

.jkdicon{
	width:24px;
	height:24px;
	border-radius:12px;
	background:#F00;
	}
.progress-bar dt span {
    display: inline-block;
    position: relative;
    z-index: 20;
    width: 20px;
    height: 20px;
    font: 400 14px/20px Simsun;
}
.progress-bar div.complete i {
    background-color: #ffa96a;
}
.progress-bar i {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 10;
    width: 100%;
    height: 4px;
    margin-top: -2px;
    background-color: #c6c6c6;
}
.payment-real .progress-bar div {
    width: 190px;
}
.progress-bar div {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.progress-bar div.process i {
    background-color: #ff6600;
}
.progress-bar i {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 10;
    width: 100%;
    height: 4px;
    margin-top: -2px;
    background-color: #c6c6c6;
}
/*订单查询start*/
.oder-bar {
	width:940px;
	height:14px;
    margin: 14px auto;
    padding:15px 30px;
	background:#f5f5f5;
    text-align: center;
}
.oder-bar h4{
	float:left;
	line-height:14px;
	}
.oder-bar a{
	float:right;
	line-height:14px;
	color:#5c88c9;
	}
.oder-bar a:hover{
	color:#113a77;
	}
	
/*订单列表*/
.oderlistbox{
	width:1000px;
	min-height:520px;
	margin:0 auto;
	background:#fbfbfb;
	}
.oderlistbox table{
	width:1000px;
	margin:0 auto;
	margin-bottom:30px;
	line-height:24px;
	border-collapse: collapse;
	border:1px solid #e5e5e5;
	}
.trrow{
	text-align: center;
    vertical-align: top;
	}
.trrow td{
	border:0;
	line-height:20px;
	}
.trhd{
    background: #f5f5f5;
    height: 31px;
    line-height: 31px;
    color: #aaa;
    overflow: hidden;
}
tbody td {
    border: 1px solid #e5e5e5;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
	background:#fff;
}
.trhd span {
    float: left;
    height: 18px;
    line-height: 18px;
    padding: 2px 0 0;
    display: inline;
}
.space{
	width:30px;
	}
.odernum{
	width:270px;
	}
.customserv{
	float:left;
	}
.goodsinfo{
	width:300px;
	}
.goodsimg {
    float: left;
    width: 60px;
    height: 60px;
    border: 1px solid #efefef;
    margin: 0 28px;
    display: inline;
}
.goodsimg img{
    width: 60px;
    height: 60px;
	}

.goodsname {
	width:150px;
    height: 60px;
	margin-right:30px;
    line-height: 18px;
	float:left;
    overflow: hidden;
    color: #333;
    text-align: left;
    min-height:70px;
}
.goodsnumbox{
	float: left;
    width: 40px;
    text-align: left;
    color: #aaa;
    font-family: verdana;
}
.tdspan{
	padding:8px;
	}
.pname{
	width:100px;
	margin-left:30px;
	text-align:left;
	float:left;
	}
.oderaddrbox,.pname{
	color:#999;
	}
.oderaddrbox{
	width:236px;
	margin-left:10px;
	text-align:left;
	float:left;
	}
.pnametxt {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    max-width: 72px;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.oderstate{
	color:#ff6d5c;
	}
.server{
	float:right;
	color:#333;
	}
.phonenum,.odercoin,.oderaddr,.goodsnum{
	color:#666;
	}
/*订单查询end*/

/*步骤3*/
.step3{
	width:938px;
	min-height:80px;
	padding:60px 0 90px 60px;
	margin-bottom:40px;
	border:1px solid #CCC;
	}
.sucfail{
	margin-right:20px;
	width:50px;
	min-height:50px;
	float:left;
	background: url(../images/successnum50.png) no-repeat;
	background-size:contain;
	}
.sucfailtxt{
	width:600px;
	min-height:120px;
	float:left;
	text-align:left;
	}
.sucfailtxt h3{
	font-weight:500;
	font-size:20px;
	}
.sucfailtxt span{
	font-size:14px;
	display:block;
	line-height:24px;
	}
.sucfailtxt span p{
	display:inline-block;
	}
.sucfailtxt div span{
	color:#e57313;
	font-weight:400;
	display:inline;
	}
.oderbtn{
	border-radius:2px;
	float:right;
	text-align:center;
	}
/*步骤3end*/