body {font: normal 100% Helvetica, Arial, sans-serif;overflow-x: hidden;width:100%;background:#333;}
input,button,select,textarea,a{outline:none}


.ad11{height:44px;width:100%;max-width: 640px;margin:0px auto;color:#999;}
.ad11_w{width:100%;position:fixed;left:0px;top:0px;height:44px;z-index:500;text-align:center;font-size:1.5em;line-height:44px;}
.ad11 a{width:85%;float:left;display:block;height:44px;line-height:44px;font-size:16px;color:#fff;margin:0 auto; }
.ad11 a img{display:block;height:36px;width:36px;margin:4px 2px;float:left;}
.ad11 span{width:44px;float:right;display:block;height:44px;background:url(../images/x88.png) center no-repeat;background-size:100% 100%;}


.m_copyright{height:6em;font-size:1em;color:#fff;text-align:center;padding:1em 0;background:#055783;}
.m_copyright a{display:inline-block;padding:0px 0.5em;font-size:1em;color:#666;text-decoration:underline;line-height:3em;margin:0 auto;}
.m_copyright span{display:block;padding:0px 0.5em;font-size:1em;color:#CCC;line-height:3em;}

.m_list_header{width:100%;position:relative;left:0px;height:4em;z-index:500;}
.m_list_header_w{max-width:640px;margin:0px auto;height:100%;width:100%;background:url(../images/m_header_480_50.jpg) 0px 0px no-repeat;background-size:100% auto;border-bottom:1px solid #8f0000;position:relative;color:#fff;}
.m_list_header_w h1{font-size: 1.5em;font-weight:bold;text-align:center;color:#fff;line-height: 3.7em;background:#0286ce;}


.chargebox{width:100%;max-width:640px;height:640px;max-height:640px;text-align:center;padding-top:16%;margin:0 auto;}
.chargeboxtop{padding-bottom:10%;text-align:center;width:100%;max-width:640px;height:44px;line-height:44px; text-align:center;margin:0 auto;}
.chargeboxtopimg{display:block;}



.m_content_main{background:#fff;width:100%;max-width:640px;margin:0px auto;padding-top:10px;background:#fff;min-height:640px;}
.m_con_topimg{width:100%;max-width:640px;height:640px;max-height:640px;  background:url(../images/fhonecharge.png) no-repeat bottom center;background-size:contain;text-align:center;}
.m_con_w{width:94%;margin:0px auto;}
.m_con_w p.author{font-size:1.2em;color:#313131;line-height:2em;}
.m_con_w p.author strong{color:#005982;}


.submit_w{width:94%;height:2.5em;margin:0px auto;display:block;padding:2em 0;}
.m_comment_textarea_w input[type=submit]{display:block;height:2.5em;width:48%;text-align:center;font-size:1.5em;color:#fff;font-weight:bold;background:#c00;background:-webkit-gradient(linear, 0 0, 0 100%, from(#c00000), to(#8f0000));background:-moz-linear-gradient(top, #c00000,#8f0000);background:-o-linear-gradient(top, #c00000,#8f0000);border-radius:0.5em;line-height:2.5em;border:0px;float:right;}

.m_comment_textarea_w a.cancel{display:block;height:2.5em;width:48%;text-align:center;font-size:1.5em;color:#fff;font-weight:bold;background:#c00;background:-webkit-gradient(linear, 0 0, 0 100%, from(#c00000), to(#8f0000));background:-moz-linear-gradient(top, #c00000,#8f0000);background:-o-linear-gradient(top, #c00000,#8f0000);border-radius:0.5em;line-height:2.5em;border:0px;float:left;}

















