@charset "utf-8";
/* CSS Document */
/*金开贷信息披露样式文件*/
body{
   background: #e7f2f7;
}
.tlc {
	text-align: center;
}
.mg0 {
	margin: 0 auto;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.w98 {
	width: 980px;
}
.blcol {
	color: #3a69af;
}
.bgcol {
	background: #e7f2f7;
}
.jkdinfo_des {
	width: 980px;
	min-height: 170px;
	background: #fff;
	margin:0 auto;
	padding-top: 55px;
	float:right;
}
.des_header {
	min-height: 170px;
	margin-bottom: -14px;
}
.rn_time {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #3a69af;
}
.btn_group {
	height: 60px;
	line-height: 60px;
	font-size: 18px;
	border-bottom: 10px #e7f2f7 solid;
	font-weight: 500;
}
.des_line {
	width: 4px;
	margin-top: 18px;
	height: 24px;
}
.w48 {
	width: 488px;
	height: 60px;
}
/*图标定位*/

.des_btnl_ico, .des_btnr_ico {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 13px;
	left: 154px;
}
.btn_grp_po {
	position: relative;
}
.des_btnl_arrow, .des_btnr_arrow {
	width: 488px;
	height: 20px;
	position: absolute;
	left: 0;
}
/*模块显示*/
.des_btnl_arrow {
	display: block;
}
.des_btnr_arrow {
	display: none;
}
.des_btnl,.des_btnr{
	cursor:pointer;
}
/*经营数据*/
.infoReport{
	width: 970px;
	height: 550px;
	display: none;
}
/*<!--1.交易数据-->*/
.data_chart {
	width: 970px;
	height: 2494px;
	border-left: 10px #6091d9 solid;
	margin-top: 20px;
	position: relative;
}/*数据集*/
.busl_echar_name, .busl_echar_name2 {
	font-size: 18px;
	position: absolute;
	top: 175px;
	left: 187px;
}
.busl_echar_name2 {
	top: 175px;
	left: 650px;
}
.des_busdat {
	width: 970px;
	height: 540px;
	border-bottom: 8px solid #e7f2f7;
}
.busicon_dat, .riscdat_dat, .prodat_dat, .usedat_dat {
	width: 154px;
	height: 46px;
	position: relative;
	top: 0px;
	left: -15px;
}
.riscdat_dat {
	top: -14px;
	left: -15px;
}
.prodat_dat {
	top: -27px;
	left: -15px;
}
.usedat_dat {
	top: -27px;
}
/*1左侧图*/
.busl_char, .busr_char {
	width: 480px;
	height: 490px;
	margin-right: 2px;
	float: left;
	text-align: center;
}
.busl_char_t, .busl_char_tuser {
	font-size: 30px;
	line-height: 48px;
	padding-top: 18px;
	color: #ea6660;
	text-align:center;
}
.busl_char_tuser {
	color: #3c84ed;
}
.busl_char_name {
	text-align:center;
	font-weight: 500;
}
/*--2.风控数据-*/

.risc_cav {
	width: 970px;
	padding-top: 56px;
	height: 214px;
}
.pie1 {
	width: 242px;
	height: 242px;
	text-align: center;
}
/*圆角*/
.circle_out {
	background: #ea6660;
	width: 136px;
	height: 136px;
	text-align: center;
	border-radius: 68px;
	overflow: hidden;
}
.circle_in {
	width: 120px;
	height: 120px;
	border-radius: 80px;
	margin: 4px;
	border: 4px solid #fff;
	background: #ea6660;
}
.compensatory {
	line-height: 120px;
	font-size: 24px;
	color: #fff;
}
.pie1 p {
	font-size: 14px;
	font-weight: 600;
	color: #333;
	line-height: 56px;
}
.pie2_bgblu {
	background: #1296fc;
}
.pie3_bgyell {
	background: #fcc812;
}
/*扇形区域*/
.pie4_bggree {
	width: 128px;
	height: 128px;
	border-radius: 80px;
	background: #fff;
	border: 4px solid #8fb850;
}
.ovhid {
	overflow: hidden;
	text-align: center;
	position: relative;
}
.pietxt {
	position: absolute;
	top: 10px;
	left: 96px;
}
/*--3.项目数据--*/
.pro_ti {
	width: 922px;
	height: 140px;
	margin: 0 24px;
	background: #e7f2f7;
}
.pro_til, .pro_tir {
	width: 461px;
	height: 140px;
}
.pro_tir {
	margin-left: 46px;
}
.pro_til>div, .pro_tir>div {
	height: 70px;
	line-height: 70px;
}
.pro_til>div{
	padding-left: 160px;
	text-align: left;
}
.pro_tir>div{
	padding-left:14px;
}
.pro_count {
	display: inline-block;
	width: 100px;
	text-align: left;
	font-size: 15px;
	font-weight: 600;
}
.pro_countnum {
	display: inline-block;
	font-size: 22px;
	color: #ea6660;
	font-weight: 600;
}
.tal {
	width: 400px;
	text-align: left;
}
.colbl {
	color: #3c84ed;
}
/*canvas项目数据图标区域--*/
.pro_bot {
	width: 970px;
	height: 480px;
}
.pro_bar {
	width: 338px;
	height: 220px;
	margin-left: 146px;
	margin-top: 14px;
}
.pro_bar_name {
	font-size: 18px;
	margin-left: 37px;
	line-height: 40px;
	color: #5f6cb8;
}
.mg_bar2 {
	margin-left: 24px;
}
.mg_bar4 {
	margin-left: 24px;
}
/*4.用户数据*/
.usedat_datl, .usedat_datr {
	width: 485px;
	height: 800px;
}
.usedat_datr {
	background: #fff;
}
/*注册人数*/
.map_box {
	width: 485px;
	height: 410px;
	position: relative;
}
.log_num {
	width: 485px;
	height: 148px;
	margin-top: 45px;
	background: #fcfcfc;
}
.log_img {
	width: 260px;
	height: 148px;
	line-height: 148px;
	vertical-align: middle;
	text-align: center;
	float: left;
}
.mapTile {
	width: 84px;
	height: 36px;
	line-height: 36px;
	border-radius: 4px;
	font-size: 16px;
	position: absolute;
	top: 0;
	left: 63px;
	display: inline-block;
	color: #fff;
	background: #6091d9;
	text-align: center;
}
.log_txt {
	width: 225px;
	height: 148px;
	text-align: left;
}
.log_txt>span {
	line-height: 58px;
	font-size: 14px;
}
.log_txt>p {
	line-height: 24px;
	font-size: 24px;
}

/*进度条*/
.percent>p>div{
	background: #000;
}
.Bar, .Bars {
	position: relative;
	width: 200px;
	border-radius: 0px;
	background: #e7e9ea;
}
.Bar div, .Bars div {
	display: block;
	position: relative;
	background: #00a8dd;/* 进度条背景颜色 */
	color: #333333;
	height: 14px;
	border-radius: 0px;
	line-height: 14px;
/* 必须和高度一致，文本才能垂直居中 */ }
.Bars div {
	background: #00a8dd；
}
.Bar div span, .Bars div span {
	position: absolute;
	color: #00a8dd;
	width:60px;
	top: 0;
	left: 200px;
	text-align: center;
}
.percent {
	height: 140px;
	width: 480px;
	padding-top:58px;
	margin: 0 auto;
	overflow: hidden
}
.Bar{
	background: #000；
}
.barp{
	height: 14px;
	width: 360px;
	padding-left: 120px;
	margin-top:10px;
	position: relative;
}
.log_range{
	width: 50px;
	height: 14px;
	position: absolute;
	top: 0;
	left: 62px;
	z-index: 9999999;
}
.girl_num{
	width: 300px;
	height: 48px;
}
.wm_img{
	width: 40px;
	height: 48px;
	padding-left: 80px;
}
.wm_per{
	height: 20px;
	width: 160px;
	margin-top:10px;
}
.wmbar{
	width: 120px;
}
.wmpo{
    position: absolute;
    color: #00a8dd;
    width: 60px;
    top: 0;
    left: 0px;
    text-align: center;
}
.wbyel{
	background: #fb8836;
}
.wmpt{
	margin-top: 20px;
}
